<?xml version="1.0"?>
<launch>

  <!-- Real Arm Driver -->
  <include file="$(find campusrover_scara_dynamixel)/launch/arm_controller.launch" />

  <!-- kinematics , Motion Trajectory-->
  <include file="$(find scara_controller)/launch/scara_controller.launch" />

  <!-- arm press button -->
  <include file="$(find elevator_caller3)/launch/arm_press.launch">
    <arg name="press_dis" default="0.05"/> 
  </include>

  <!-- call name target mode -->
  <include file="$(find elevator_caller3)/launch/name_target_mode.launch" />

  <!-- rosservice call /call_name_target "name: 'home'" -->
  <!-- rosservice call /call_pose_target "{x: 0.267295, y: 0.182956, z: 0.129250, roll: 0.0, pitch: 0.0, yaw: 1.581627}"-->
  <!-- rosservice call /call_press_button "{x: 0.267295, y: 0.182956, z: 0.129250, roll: 0.0, pitch: 0.0, yaw: 1.581627}" -->

</launch>
