<?xml version="1.0"?>
<launch>

    <machine name="orin" address="192.168.3.13" user="jetson-orin" password="000000" env-loader="/opt/ros/noetic/env_remote.sh"/>
    
    <!-- button_recog arg start-->
    <arg name="aligned_depth_image_raw" default="/rs_d435i/aligned_depth_to_color/image_raw"/>
    <arg name="color_image_raw" default="/rs_d435i/color/image_raw"/>
    <arg name="camera_info" default="/rs_d435i/color/camera_info"/>
    <arg name="brightness_detect" default="0.5"/> 
    <arg name="publish_recognition_image" default="true"/> 
    <!-- button_recog arg end-->

    <!-- button_recog -->
    <node machine="orin" name="button_recog" pkg="button_tracker" type="button_recog.py" output="screen">
        <remap from="color_image_raw" to="$(arg color_image_raw)"/>
        <remap from="camera_info" to="$(arg camera_info)"/>
        <remap from="aligned_depth_image_raw" to="$(arg aligned_depth_image_raw)"/>
        <param name="brightness_detect" value="$(arg brightness_detect)"/>
        <param name="publish_recognition_image" value="$(arg publish_recognition_image)"/>
    </node>
    
    <!-- Button Recog Server -->
    <node machine="orin" name="button_recognition" pkg="button_recognition" type="recognition_service.py" output="screen">
    </node>

</launch>