<?xml version="1.0"?>
<launch>

    <machine name="orin" address="192.168.3.13" user="jetson-orin" password="000000" env-loader="/opt/ros/noetic/env_remote.sh"/>

    <!-- yolo_ros arg start-->
    <!-- model arg -->
    <arg name="node_name" default="yolo_ros_panel"/>
    <arg name="yolo_v5" default="true"/>
    <arg name="confidence" default="0.5"/>
    <arg name="use_cpu" default="false"/>

    <!-- input arg -->
    <arg name="image_topic" default="/zed_node/rgb/image_rect_color"/>

    <!-- output arg -->
    <arg name="bbox_topic" default="/yolo/BoundingBoxes"/>
    <arg name="image_out_topic" default="/yolo/image_out"/>
    <!-- yolo_ros arg end-->
    
    <!-- panel_tracker -->
    <!-- <node machine="orin" name="panel_tracker" pkg="panel_tracker" type="panel_tracker.py"  output="screen"/> -->

    <!-- yolo_ros -->
    <node machine="orin" pkg="yolo_ros" type="yolo_ros_node.py" name="$(arg node_name)" output="log" >
        <param name="weight_file"                               value="/home/jetson-orin/rover_ws/src/campusrover_ai/yolo_ros/weights/panelv5.pt"/>
        <param name="yolo_path"       if="$(arg yolo_v5)"       value="/home/jetson-orin/rover_ws/src/campusrover_ai/yolo_ros/yolov5" />
        <param name="yolo_path"       unless="$(arg yolo_v5)"   value="/home/jetson-orin/rover_ws/src/campusrover_ai/yolo_ros/yolov7"/>
        <param name="use_cpu"                                   value="$(arg use_cpu)" />
        <param name="conf"                                      value="$(arg confidence)" />

        <param name="image_topic"                               value="$(arg image_topic)" />
        <param name="bbox_topic"                                value="$(arg node_name)$(arg bbox_topic)" />
        <param name="image_out_topic"                           value="$(arg node_name)$(arg image_out_topic)" />
        <param name="camera_frame"                              value="camera_link"/>
    </node>

</launch>
